@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Lora&family=Montserrat&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 0;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: auto 1fr auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 2 / 20;
  grid-row: 1/ 2;
}
.brand {
  font-family: 'Crimson Pro', serif;
  font-size: 0.875rem;
  font-weight: 200;
  text-transform: uppercase;
  border: 1px solid var(--color);
  width: fit-content;
  padding: 0.5rem;
}
.mobile-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: var(--bg);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;

  animation: width-animation 0.5s ease-in-out;
}

@keyframes width-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.mobile-nav .nav-item {
  font-size: 1.125rem;
  margin: 1rem;
  color: var(--color);
  text-decoration: none;
}
.active {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--color);
}
.desktop-nav {
  display: none;
}
.close {
  position: relative;
  bottom: 28%;
  left: 43%;
  cursor: pointer;
}
.open {
  cursor: pointer;
}
.theme-selector {
  cursor: pointer;
  margin: 0 auto;
  transition: all 1s ease;
}
.theme-selector:hover {
  transform: scale(1.5) rotate(360deg);
}
.theme-selector > svg {
  width: 1.5rem;
  height: 1.5rem;
}
.main {
  margin: 2rem 0;
  grid-column: 2 / 20;
  grid-row: 2/ 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.img-area img {
  width: 100%;
  height: 100%;
}
.head-text {
  font-family: 'Lora', serif;
  font-weight: 500;
  font-size: 2.25rem;
}
.p-text {
  font-weight: 400;
  line-height: 1.4rem;
  max-width: 254px;
}
.read-more {
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  margin: 2rem 0;
  cursor: pointer;
  transition: all 0.5s ease;
}
.read-more:hover {
  transform: translateY(50%);
}
.arrow {
  margin-left: 1rem;
  transform: scale(1.5);
}
.arrow:hover {
  transform: translateX(50%) scale(1.8);
}

.img-area {
  margin-bottom: 4rem;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 260px;
  height: 150px;
  background: var(--bg);
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  position: absolute;
  bottom: -25%;
  right: 3%;
}
.card-head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.theme-selector > svg {
  width: 2rem;
  height: 2rem;
}
.card-head > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.avatar-info {
  margin-left: 0.5rem;
  font-size: 0.7rem;
}
.name {
  font-weight: bold;
}
.card-text {
  font-family: 'Lora', serif;
  font-size: 1.2rem;
}
footer {
  grid-column: 2 / 20;
  grid-row: 3/ 4;
  text-align: center;
  font-size: 0.8rem;
}
.footer p a {
  font-weight: bold;
  color: inherit;
}
/* font-family: 'Crimson Pro', serif;
;
font-family: 'Montserrat', sans-serif; */

@media (min-width: 750px) {
  .open {
    display: none;
  }
  .desktop-nav {
    display: block;
  }
  .desktop-nav .nav-item {
    font-size: 1.125rem;
    margin-left: 3rem;
    color: var(--color);
    text-decoration: none;
  }
  .main {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .text-area {
    margin-right: 1rem;
    width: 40%;
  }
  .img-area {
    width: 60%;
  }
  .card {
    width: 350px;
    height: 190px;
    bottom: -20%;
    right: 5%;
  }
  .footer {
    font-size: 1rem;
  }
}
